@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

.buttonDefault {
    height: 2.4375rem;
    border-radius: .75rem;
    background-color: #6880FF;
    border: none;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    outline: none;
}

.buttonDefault:hover,
.buttonDefault:focus,
.buttonDefault:active {
    background-color: #7C91FF;
    transition: 0.4s;
    cursor: pointer;
}

.headerDefaultButton {
    width: 7.125rem;
    margin-top: 27px;
}

.bannerSectionButton {
    width: 8.125rem;
    margin-top: 2.3125rem;
}