@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

.header {
    padding: 1.375rem 4.1875rem;
    max-width: 16rem;
    height: 7.75rem;
    margin: 0 auto;
    background-color: #000000;
    color: #fff;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headerLogo {
    font-weight: bold;
    font-size: 1.375rem;
}

@media(min-width: 46rem) {
    .header {
        max-width: 56rem;
        flex-direction: row;
        align-items: center;
        padding: 0 1.8125rem;
    }

    .header button {
        margin: 0;
        min-width: 7.125rem;
    }

    .header ul {
        margin: 0;
        justify-content: center;
        gap: 3.75rem;
    }
}

@media(max-width:334px) {
    .header {
        font-size: .75rem;
        padding: 0 1rem;
        margin: 1rem 0;
    }
}