@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

.navContainer {
    width: 100%;
}

.navUl {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.6875rem;
}

.navLi {
    font-family: 'Inter', sans-serif;
    font-size: .875rem;
    font-weight: 600;
    cursor: pointer;
}